.navbar {
  //.box-shadow( 0 1px 2px rgba(0, 0, 0, 0.45) );
  .btn-navbar {
    .pull-left;
  }
  .navbar-inner {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

#logo {
  width: 154px;
  height: 57px;
  margin-right: -3px;
  .pull-right;
  img {
    width: inherit;
    height: inherit;
  }
}

.banner {
  min-height: 250px;
  padding: 16px 0 0 0;
  background-image: url(../../images/forsidetopmand.jpg);
  background-size: cover;
  background-position: 50% 30%;
  border-bottom: 1px solid #ccc;
  .box-shadow( inset 0 -3px 5px rgba(0, 0, 0, .045) );
  .row-fluid {
    position: relative;
  }
  .span8 {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  h1, p.lead {
    color: white;
    font-size: 48px;
    line-height: 54px;
  }
  p.lead {
    font-family: @serifFontFamily;
    text-transform: uppercase;
  }
}

#content {
  padding-top: 40px !important;
}

.page-header, .entry-header {
  margin: @baseLineHeight 0 0 0;
}

.sidebar {
  margin-top: 24px;
}

.sidebar-header {
  background: rgba( 0, 0, 0, .7 );
  padding: 10px;
  color: rgba( 255, 255, 255, .9 );
  //.border-radius( 4px );
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding: 0 5px;
  }
  .widget {
    margin-bottom: 0 !important;
  }
  .EO_Event_List_Widget {
    h2 {
      margin: 15px 0 -10px 5px;
      font-size: 20px;
      text-transform: uppercase;
      line-height: 38px;
    }
    li {
      a {
        display: block;
        text-decoration: none;
        color: white;
        background: transparent;
        text-transform: uppercase;
      }
      h3 {
        font-size: 14px;
        font-family: @sansFontFamily;
        line-height: 22px;
        margin-bottom: 0px;
        text-transform: lowercase;
        color: @navbarLinkBackgroundHover;
      }
    }
    &:last-child {
      .eo-events-widget {
        margin-bottom: 15px;
      }
    }
  }
}

.fluid-sidebar {
  .widget {
    .well;
    .well-small;
    p:last-child {
      margin-bottom: 0;
    }
  }
  .EO_Event_List_Widget {
    .eo-events-widget {
      list-style: none;
      margin: 0;
      padding: 0;
      // TODO: Check if the block below is needed
      li {
        a {
          display: none;
        }
        .eo-list-desc {
          display: none;
        }
        .eo-list-date {
          
        }
      }
    }
  }
}


// Home page
// ---------

.home-content {
  margin-top: -20px;
  .home-one {
    .date {
      color: @navbarLinkBackgroundHover;
      margin: 0;
      font-weight: bold;
    }
  }
  h2:first-child {
    margin-top: 0;
  }
}

.testimonial {
  .clearfix;
  margin-bottom: 20px;
  span {
    display: block;
    .pull-right;
    margin-top: 10px;
    font-size: 14px;
    font-style: normal;
  }
}

.home-content h2, #wp-calendar caption {
  font-size: 30px;
  line-height: 34px;
}

// H2 heading styles that generally override bootstrap
h2 {
  margin-top: 30px;
  .light {
    font-weight: normal;
  }
}
*.widgettitle {
  margin-top: 0;
}

#inner-footer {
  text-align: center;
  div {
    margin-left: auto;
    margin-right: auto;
  }
}

// Styles for the newsletter sign-up form in the footer
.nsu_widget {
  .widgettitle {
    margin: 0;
  }
}

.social_stickers_widget {
  margin-bottom: 2em !important;
}


// Styles for the accordion
// ------------------------

@businessAdmin:     #2a4378;
@ebizz:             #825e14;
@crossMedia:        #1f958e;
@innovation:        #f0351f;
@webproduktion:     #f67c13;

.accordion-group {
  border: none;
  margin-bottom: 0;
  .accordion-heading {
    background: @grayLighter;
    .accordion-toggle {
      color: white; //@textColor;
      text-transform: uppercase;
      font-weight: bold;
      padding: 5px 20px;
    }
  }

  .accordion-inner {
    padding: 0;
    border: none;
    ul {
      list-style: none;
      margin: 0 0 0 20px;
      padding: 0;
      li {
        display: block;
        background: transparent; //@grayLighter;
        text-transform: uppercase;
        margin: 2px 0;
        a {
          text-decoration: none;
          display: block;
          padding: 5px 20px;
        }
        a:hover {
          color: white;
        }
      }
    }
  }
  
  &:hover .accordion-toggle {
    text-decoration: none;
  }
  &.business-administration {
    .accordion-toggle, li a:hover {
      background: @businessAdmin;
    }
    li a {
      color: @businessAdmin;
    }
  }
  &.e-business-digital-marketing {
    .accordion-toggle, li a:hover {
      background: @ebizz;
    }
    li a {
      color: @ebizz;
    }
  }
  &.cross-media-design-kommunikation {
    .accordion-toggle, li a:hover {
      background: @crossMedia;
    }
    li a {
      color: @crossMedia;
    }
  }
  &.innovation-ivaerksaetteri {
    .accordion-toggle, li a:hover {
      background: @innovation;
    }
    li a {
      color: @innovation;
    }
  }
  &.it-webproduktion {
    .accordion-toggle, li a:hover {
      background: @webproduktion;
    }
    li a {
      color: @webproduktion;
    }
  }
}


// Styles for the calendar
// -----------------------

.ns-calendar {
  h2 {
    //text-transform: uppercase;
  }
  h3 {
    margin-left: 15px;
    font-family: @sansFontFamily;
    color: @navbarLinkBackgroundHover;
  }
  h4 {
    margin-left: 30px;
    font-family: @sansFontFamily;
    .time {
      color: @grayLight;
    }
    a {
      color: @grayDark;
      &:hover {
        text-decoration: none;
        color: lighten( @grayDark, 20% );
      }
    }
  }
}

#wp-calendar {
  caption {
    padding: 0 0 8px 15px;
    font-family: @serifFontFamily;
    font-weight: bold;
    text-align: left;
  }
  .event {
    padding: 4px 0;
    a {
      display: block;
      padding: 3px 0;
      color: @brandOrange;
      border: 1px solid @brandOrange;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

#eo_calendar_widget-2_content {
  #wp-calendar {
    caption {
      font-size: 18px;
      line-height: 20px;
      padding: 0 0 8px 0;
    }
  }
}
