.navbar {
  .box-shadow( 0 1px 2px rgba(0, 0, 0, 0.45) );
  .btn-navbar {
    .pull-left;
  }
}

#logo {
  background: url(../../images/newskills_logo.png) 5px 5px no-repeat;
  width: 224px;
  height: 71px;
  .pull-right;
}

.banner {
  min-height: 250px;
  padding: 29px 0 0 0;
  background-image: url(../../images/forsidetopmand.jpg);
  background-size: cover;
  background-position: 50% 30%;
  border-bottom: 1px solid #ccc;
  .box-shadow( inset 0 -3px 5px rgba(0, 0, 0, .045) );
}

#content {
  padding-top: 40px !important;
}

.page-header, .entry-header {
  margin: @baseLineHeight 0 0 0;
}

.sidebar {
  margin-top: 24px;
}

.sidebar-header {
  background: rgba( 0, 0, 0, .7 );
  padding: 10px;
  color: rgba( 255, 255, 255, .9 );
  //.border-radius( 4px );
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding: 0 5px;
  }
  .widget {
    margin-bottom: 0 !important;
  }
  .EO_Event_List_Widget {
    h2 {
      margin: 20px 0 -10px 5px;
      font-size: 20px;
      text-transform: uppercase;
    }
    li {
      a {
        display: block;
        text-decoration: none;
        color: white;
        background: transparent;
        text-transform: uppercase;
      }
      h3 {
        font-size: 14px;
        font-family: @sansFontFamily;
        margin-bottom: 0px;
        text-transform: lowercase;
        color: @navbarLinkBackgroundHover;
      }
    }
    &:last-child {
      .eo-events-widget {
        margin-bottom: 20px;
      }
    }
  }
}

.fluid-sidebar {
  .widget {
    .well;
    .well-small;
  }
  .EO_Event_List_Widget {
    .eo-events-widget {
      list-style: none;
      margin: 0;
      padding: 0;
      // TODO: Check if the block below is needed
      li {
        a {
          display: none;
        }
        .eo-list-desc {
          display: none;
        }
        .eo-list-date {
          
        }
      }
    }
  }
}

.home-left {
  .date {
    color: @navbarLinkBackgroundHover;
    margin: 0;
  }
}
.home-right {
  height: 300px;
  background: transparent url(../../images/web_bolde.png) bottom right no-repeat;
  h2 {
    margin: 0;
    margin-top: -3px;
  }
  a {
    display: block;
    color: black;
    text-decoration: none;
  }
}
.home-left, .home-right {
  margin-top: -20px;
  h2 {
    line-height: 28px;
  }
}

#inner-footer {
  text-align: center;
  div {
    margin-left: auto;
    margin-right: auto;
  }
}

// Styles for the newsletter sign-up form in the footer
.nsu_widget {
  .widgettitle {
    margin: 0;
  }
}

.social_stickers_widget {
  margin-bottom: 2em !important;
}